$NORMAL_BUTTON_BG: #1a88d6;

.formContainer {
    width: 40%;
    //border: 3px solid #f1f1f1;
    margin-top: 3px;
    padding: 2px 5px 4px;

    label, p, span, input {
        font-size: 17px;
    }

    input {
        width: 100%;
        padding: 10px 18px;
        margin: 2px 0 6px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
    }
    input:hover, input:active, input:focus {
        outline: none;
    }
    button {
        background-color: $NORMAL_BUTTON_BG;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        cursor: pointer;
        font-size: 20px;
    }
    button:hover {
        opacity: 0.75;
    }
}